
.links-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 20px;
}

.socialIcons {
    margin: 5px 15px;
    color: var(--violet-color);
    opacity: 0;
}

.socialIcons:hover {
    opacity: 1;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

.easeInOpacity {
    opacity: 0.65;
    transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width: 1580px) {
    .links-section {
        flex: 0.8;
    }
}