
.introduction-section {
    display: flex;
    flex-direction: column;
    margin: 5px 0px;
    align-items: flex-start;
    /* color: var(--import-color); */
}

.introduction-text {
    margin: 2px 0px;
    font-weight: 300;
    /* color: var(--import-color); */

}

.import-text {
    color: var(--violet-color);
    font-weight: 600;
}

.library-import-text {
    color: var(--green-color);
    font-weight: 600;
    
}