.title-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    flex-grow: 2;
    justify-content: flex-end;
}

.title-header{
    display: flex;
    align-items: flex-start;

}

.avatar {
    max-width: 112px;
    height: auto;
}

.web-avatar {
    max-width: 100px;
    height: auto;
    transform: rotate(3deg);
    margin: 5px 10px;
    animation: wobble 2.5s infinite;
}

.title-name {
    margin: 5px 0px;
    font-weight: 800;
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: var(--light-blue-color);
}

@media screen and (max-width: 1580px) {
    .title-section {
        margin-bottom: 15px;
    }
}

@keyframes wobble {
    from {
      transform: translate3d(0, 0, 0) scale(0.97);
    }
     
    30% {
      transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 3deg) scale(0.97);
    }
  
    45% {
      transform: translate3d(-7%, 0, 0) rotate3d(0, 0, 1, -3deg) scale(0.99);
    }
  
    60% {
      transform: translate3d(5%, 0, 0) rotate3d(0, 0, 1, 2deg) scale(0.97);
    }
  
    to {
      transform: translate3d(0, 0, 0) scale(0.97);
    }
  }