.title-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    flex-grow: 2;
    justify-content: flex-end;
}

.title-header{
    display: flex;
    align-items: flex-start;

}

.avatar {
    max-width: 112px;
    height: auto;
}

.web-avatar {
    max-width: 100px;
    height: auto;
    transform: rotate(3deg);
    margin: 5px 22px;
}

.title-name {
    margin: 5px 0px;
    font-weight: 800;
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: var(--light-blue-color);
}

@media screen and (max-width: 1580px) {
    .title-section {
        margin-bottom: 15px;
    }
}