.about-content-section {
    overflow-x: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    scroll-snap-align: start;
    text-wrap: balance;
    /* padding-top: 10vh; */
    margin: 0 2vw;
}

.about-text{
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;
    justify-content: center;
    padding-bottom: 20vh;
}

.main-content-studies-section {
    overflow-x: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    scroll-snap-align: start;
    margin: 0px 40px;
    text-wrap: balance;
    padding-bottom: 25vh;
}

.main-content-studies-section-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-wrap: balance;
    gap: 10px;
}

.main-content-projects-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
    min-height: 100%;
    text-wrap: balance;
    overflow-x: hidden;
    scroll-snap-align: start;
}

@media (min-height: 1000px) {
    .main-content-projects-section{
        justify-content: flex-start;
    }
    .about-text{
        padding-bottom: 30vh;
    }
    .main-content-studies-section {
        padding-bottom: 35vh;
    }
    .main-content-experience-section {
        gap: 30px;
    }
}

.main-content-projects-section-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: balance;
    gap: 25px;
}

.main-content-experience-section {
    overflow-x: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    text-wrap: balance;
    justify-content: center;
    /* padding-bottom: 25vh; */
}

.main-content-experience-section-mobile {
    display: flex;
    flex-direction: column;
    text-wrap: balance;
    gap: 15px;
    align-items: center;
}

.project-tags {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 25px;
}

.project-tags-mobile {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 5px 0px;
}

.project-preview {
    object-fit: cover; /* Escala la imagen para cubrir el contenedor */
    height: 100%; /* Asegura que ocupe toda la altura */
}

.image-section {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.project-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-item {
    min-width: 100%;
}
.project-list {
    width: 100%;
    padding: 0px 17px;
}

.introduction-content {
    font-size: large;
    padding: 9px 3px;
    padding: 0px 40px;
    /* margin-left: 30px; */
    word-break: keep-all;
    white-space: normal;
}

.italic-words {
    font-style: italic;
}

.custom-card {
    margin: 10px 13px;
    padding: 10px;
    color: white;
    background: transparent;
    box-shadow: none;
}
.custom-card-project {
    margin: 10px 13px;
    padding: 20px;
    color: white;
    background: transparent;
    box-shadow: none;
}

.custom-card-mobile {
    margin: 10px 13px;
    padding: 14px;
    color: white;
    opacity: 1;
    background: rgba(255, 255, 255, 0.064);
    box-shadow: 0px 0px 1px rgba(200, 200, 200, 0.8);
}

.default-title{
    color: var(--light-blue-color);
    font-weight: 900;
    font-size: 25px;
    padding-left: 10px;

}
.default-title-mobile {
    width: 100%;
    padding: 30px 0px 10px;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    color: var(--light-blue-color);
}

.custom-card:hover {
    opacity: 1;
    background: rgba(255, 255, 255, 0.064);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
}
.custom-card-project:hover {
    opacity: 1;
    background: rgba(255, 255, 255, 0.064);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
}

.card-body {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 8px 0px;
}

.card-body-mobile {
    display: flex;
    gap: 10px;
    padding: 0;
}

.timeline {
    display: flex;
    /* flex-direction: column; */
    margin-top: 4px;
    padding: 0px 15px;
    font-size: small;
    font-weight: 300;
    min-width: 100px;
    max-width: 100px;
    justify-content: flex-end;
    color: var(--light-blue-color);

}

.card-title{
    font-weight: 800;
    font-size: 21px;
    color: var(--light-blue-color);
}

.card-project-title {
    font-weight: 800;
    font-size: 21px;
    color: var(--violet-color);
}

.card-subtitle {
    font-weight: 600;
    font-size: 13px;
}

.card-content{
    font-weight: 350;
    font-size: 15px;
    padding: 5px 0px;
    line-height: 1.2rem;
    text-wrap: pretty;
}

.content-card {
    /* min-width: 500px; */
}

.tags-section {
   display: flex;
   gap: 15px;
   padding-top: 7px;
}
.tags-section-mobile {
   display: flex;
   flex-wrap: wrap;
   gap: 15px;
   padding-top: 7px;
}

.tag {
    font-size: smaller;
    font-weight: 420;
    /* margin-right: 11px; */
    padding: 5px 12px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.332);
    background-color: #ffffff1a;
    border-radius: 81px;
    color: var(--light-blue-color);
}
.project-tag {
    font-size: medium;
    font-weight: 420;
    margin-right: 11px;
    padding: 5px 12px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.332);
    background-color: #ffffff1a;
    border-radius: 81px;
    color: var(--violet-color);
}


.highlight-words {
    font-size: large;
    color: var(--light-blue-color);
    font-weight: bold;
}

.download-cv {
    color: var(--green-color);
    border-color: var(--green-color);
    transition: all 0.5s ease-in-out;
}

.download-cv:hover {
    scale: 1;
    color: var(--background-font);
    background-color: #88ca788b;
}

.basic-text {
    padding-bottom: 5px;
    /* height: 100%;
    display: flex;
    align-items: center;
    padding-top: 12px; */
}

.download-cv-section {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    align-items: center;
    margin: 5px;
}
.download-cv-section-mobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 5px;
}


.custom-table {
    color: var(--background-font);

}

.custom-wrapper-table {
    .bg-content1 {
        background-color: #2f333a;
    }
}
.custom-wrapper-table-mobile {
    max-width: 325px;
    .bg-content1 {
        background-color: #2f333a;
    }
}

.custom-th {
    background-color: #ffffff1a;
    color: var(--green-color);
    text-align: center;
}

.title-link:hover{
 color: var(--light-blue-color);
}

.link-icon {
    color: var(--light-blue-color);
}

.aligned-text {
    text-align: center;
}
