.main-content-section {
    overflow-x: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    scroll-snap-align: start;
    margin-left: 40px;

    /* width: 80%; */
    /* margin-top: 64px; */
    text-wrap: balance;
}

.main-content-studies-section {
    overflow-x: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    scroll-snap-align: start;
    margin: 0px 40px;
    text-wrap: balance;
}

.main-content-experience-section {
    overflow-x: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    scroll-snap-align: start;
    text-wrap: balance;
}

.introduction-content {
    font-size: larger;
    padding: 13px 3px;
    margin-left: 30px;
}

.italic-words {
    font-style: italic;
}

.custom-card {
    /* opacity: 0.9; */
    margin: 10px 10px;
    color: white;
    /* background: rgba(255, 255, 255, 0.108); */
    background: transparent;
    box-shadow: none;
    

}

.custom-card:hover {
    opacity: 1;
    /* color: black; */
    /* background: white; */
    background: rgb(255 255 255 / 3%);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);

    .card-title {
        color: var(--light-blue-color);
    }

    .card-subtitle {
        /* color: var(--violet-color); */
    }

    .tag {
        /* --tw-text-opacity: 1;
        color: rgb(94 234 212/var(--tw-text-opacity)); */
    }

    .timeline{
        color: var(--light-blue-color);
    }
}

.card-body {
    display: flex;
    flex-direction: row;
}

.timeline {
    margin-top: 4px;
    padding: 0px 15px;
    font-size: small;
    font-weight: 300;
}

.card-title{
    font-weight: 800;
    font-size: 21px;
    color: var(--light-blue-color);
}

.card-subtitle {
    font-weight: 600;
    font-size: 13px;
}

.card-content{
    font-weight: 350;
    font-size: 16px;
    padding: 5px 0px;
    line-height: 1.3rem;
}

.content-card {

}

.tags-section {
   margin: 5px 0px;
}

.tag {
    font-size: medium;
    font-weight: 420;
    margin-right: 11px;
    padding: 5px 12px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.332);
    background-color: #ffffff1a;
    border-radius: 81px;
    /* border: 3px; */
    /* border-color: var(--light-blue-color); */
    color: var(--light-blue-color);
}


.highlight-words {
    font-size: large;
    color: var(--light-blue-color);
    font-weight: bold;
}

.download-cv {
    color: var(--green-color);
    border-color: var(--green-color);
    transition: all 0.5s ease-in-out;
}

.download-cv:hover {
    scale: 1.2;
    color: var(--green-color);
    border-color: var(--green-color);
    opacity: 1;
}

.download-cv-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex: 1;
}


.custom-table {
    /* background-color: black; */
    color: var(--background-font);
    /* opacity: 0; */

}

.custom-wrapper-table {
    .bg-content1 {
        background-color: #2f333a;
    }
}

.custom-th {
    background-color: #ffffff1a;
    color: var(--green-color);
    text-align: center;
}

.title-link:hover{
 color: var(--light-blue-color);
}

.link-icon {
    color: var(--light-blue-color);
}

.aligned-text {
    text-align: center;
}


@media screen and (max-width: 1580px) {
    .custom-card {
        margin: 3px;    
    }

    .download-cv-section {
        margin: 10px 0px;
    }

    .download-cv:hover {
        scale: 1;
        color: var(--background-font);
        background-color: #88ca788b;
    }
}
